body {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    background-color: #61122f;
    color: #fff;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

#logo-img {
    margin: 10px 15px 10px 0;
    width: 100px;
    height: 100px;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: green;
    font-size: 1.5em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    color: #000;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: .8em;

}

.navbar-brand span p {
    vertical-align: middle;
}

/* Right side of the button list */
#nav-list {
    margin-top: 15px;
}

#nav-list a {
    color: maroon;
    text-align: center;
}

#nav-list a:hover {
    color: rgb(77, 0, 0);
    background-color: rgb(241, 237, 237);
}

#nav-list a span {
    font-size: 1.8em;
}

#phone {
    margin-top: 5px;
}

#phone a {
    text-align: right;
    padding-bottom: 0;
}

#phone div {
    text-align: right;
    color: rgb(2, 105, 2);
    padding-right: 15px;
    font-weight: bold;
    font-size: 1em;
}

#navbar-header button.navbar-toggle,
#navbar-header .icon-bar {
    border: 1px solid #61122f;
}

#navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}